svg {
	border: 1px solid black;
}

.axis path{
  fill: none;
  stroke: grey;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.tick text {
	fill: grey;
}
