svg {
	border: 1px solid black;
	display: block;
	margin: 10px;
	font-size: 10px;
}

.axis path{
  fill: none;
  stroke: grey;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}

.tick text {
	fill: grey;
}

.area {
    fill: lightpink;
    stroke-width: 0;
}
