svg {
	border: 1px solid black;
	display: block;
	margin: 10px;
	font-size: 10px;
}

.axis line{
  fill: none;
  stroke: grey;
  shape-rendering: crispEdges;
}

.axis path{
  fill: none;
  stroke: none;
}

.x  {
	stroke-dasharray: 1, 20;
}

.y {
	stroke-dasharray: 1, 25;
}

.bgrd {
	fill: white;
	stroke: grey;
	shape-rendering: crispEdges;
}

.minLine, .maxLine{
  fill: none;
  stroke: black;
  stroke-width: 1px;
}

.norm {
	stroke-width: 1;
	shape-rendering: crispEdges;
	stroke: lightgrey;
}

.tick text {
	fill: grey;
}

.mainPoints {
	cursor: pointer;
	fill: white;
	stroke: gray;
  	stroke-width: 2px;
}

.addedPoints {
	cursor: pointer;
	fill: gray;
	stroke: white;
  	stroke-width: 2px;
}